@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
nav {
  background: #dfdedd;
  max-width: 1170px;
  /* background: red; */

  margin: 0 auto;
}

.navlink {
  text-decoration: none;
  color: red;
  /* text-align: center; */
  display: block;
  padding: 1rem 2rem;
  /* margin: 1rem; */
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
}

.navlink:hover {
  color: #222;
}

.btn {
  color: red;
  padding: 1rem 2rem;
  border: 1px solid red;
  display: inline-block;
  margin: 2rem 1rem;
}
main {
  height: 100vh;
}

@media screen and (min-width: 991px) {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  li {
    text-align: center;
  }
}

.hero-header {
  min-height: 100vh;
  background-color: rgb(218, 61, 61);
  color: white;

  display: grid;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  max-width: 90vw;
}

p {
  width: 80%;
  max-width: 680px;
}
.cards-center {
  /* min-height: 100vh; */
  width: 85vw;
  max-width: 1170px;
  margin: 1rem auto;
}

.cards-title {
  margin: 5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.card {
  border: solid grey 0.5px;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 0.3px 0.5px 1px #222;
  transition: all 0.3s linear;
}

.card:hover {
  scale: 1.03;
  box-shadow: 0.6px 0.9px 2px #222;
}
.card-info {
  margin: 1rem 0;
  padding: 0rem 1rem;
}

.card-title {
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.card-footer {
  background-color: grey;
  padding: 1rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: red;
  /* text-align: center; */
}
p {
  font-size: 0.875rem;
  color: #6b6b69;
}
/* 
@media screen and (min-width: 992px) {
  .cards-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
} */

.cards-center {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}
